/*
主体样式
*/
*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
html{
	padding: 0px;
	color:#522a06; 
	text-align: center;
	font-size: 12px;
	font-family: '宋体'；
}
html img{
	border:0;
}
body{/*height: 750px;*/
	background-image: url(../images/bodybg.gif);
}
body ul{
	list-style: none;
}
a{
	color: 	#f9f603;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
/*
网页头部样式
*/
.header{
	width: 1300px;
	height: 205px;
	background-image: url(../images/banner.jpg);

}
.banner{
	height: 164px;
	text-align: center;
}
.banner img{
	margin-top: 35px;
	margin-left: -800px;

}

.nav{/*border: 1px  solid;*/
	height: 40px;
	background-image: url(../images/nav1.jpg);
}
.nav_body{
	width: 1000px;
}
.nav_content{
	color: #FFFFFF;
	width: 800px;
	margin-left: 120px;
	font-weight: bolder;
}
.nav_content ul{border: 1px #fff solid;
	margin-top: 0px;

}
.nav_content ul li{
	float: left;

}

.nav ul li a{
	color: #CC6666;
	line-height: 40px;
}
.nav ul li a:hover{
	color: #f9f603;
	text-decoration: none;
}
.nav_search{
	margin-right: -40px;
}

.nav_search input{
	width: 140px;
	height: 20px;
	float: right;
	margin-right: 1px;
	margin-top: 11px;
	background-color:#f8f5ee;
}
.nav_search input[type='button']{
	color: #fff;
	width: 44px;
	height: 21px;
	margin-top: 11px;
	margin-right:120px;
	background-color: #000;
}
.shouye{/*border: 1px #FF0000 solid;*/
	font-size: 14px;
	width: 226px;
	height: 20px;
	margin-top: 40px;
	margin-left: 140px;
}
.shouye a{
	color: #FF00FF;
}
.shouye a:hover{
	color: #FF0000;
	text-decoration: none;
}
.content{
	/*border: 1px #FF0000 solid;*/
	width: 600px;
	height: 680px;
	margin-left: 180px;
	margin-top: 10px;
	float: left;
}
.wenzhang{/*border: 1px #FF0000 solid;*/
	width: 600px
	height:160px;

}
p{text-align: left;

}
.data{/*border: 1px #FF0000 solid;*/
	width: 600px;
	height: 300px;
}
.data:hover
{ opacity: 0.5;
}
.data img
{

            display:inline;
   }
.data a:hover img {

border:1px solid #333333;

}
.pian{/*border: 1px #FF0000 solid;*/
	
	width: 600px;
	height: 20px;
	text-align: left;
	margin-top: 20px；
}
.pian a{
	color: #FF00FF;
}
.tuwen{/*border: 1px #FF0000 solid;*/
	width: 200px;
	height: 288px;
	text-align: center;
	float: right;
	margin-top: 10px;
	margin-right: -50px;
	background-image: url(../images/beij.jpg);
}
.sofware{/*border: 1px #FF0000 solid;*/
	width: 200px;
	height: 260px;
	margin-top: 8px;
}
.sofware ul li a{
	float: left;
	margin-left: 6px;
}
.music{/*border: 1px #FF0000 solid;*/
	
	width: 200px;
	height: 300px;
	float: right;
	margin-right: -50px;
	margin-top: 14px;
	background-image: url(../images/music.jpg);
}
.ge a{
	color: #D2691E;

}
.ge a:hover{
	color: #7FFF50;
	text-decoration: none;
}
.footer{
	height: 80px;
	color: #522a06;
	margin-top: 30px;
	margin-left: 5px;
	font-size: 12px;
	text-align: center;
}
.footer img{
	width: 800px;
	height: 1px;
}

